.navbar-link::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0px;
  bottom: -6px;
  transition: 0.5s;
}
.navbar-link:hover::after {
  width: 100%;
}
